body {
    background-color: black;
    text-wrap: pretty;
    background-image:url("../assets/images/ui/BackgroundDust.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.min-height-100 {
    min-height: 100vh;
}

.project-image {
    object-fit:cover;
}

.github-img {
    filter: invert(1);
}

.resume-link-text {
    text-decoration: none;
    font-size: 1.25rem;
}

.btn {
    border-radius: 20px;
}